@import '../../../utils/_base.scss';

.row {
    @extend %row;
    background: url('../../../assets/photo/background.jpeg') no-repeat center top;
    background-size: cover;
    height: 100vh;
}

.blurb {
    background-color: $beige;
    opacity: 0.75;
    @include text(black, normal);
    margin: 40px 0;
    padding: 40px;
}

.text {
    p {
        margin-bottom: 20px;
    }
}