@import '../../../utils/_base.scss';

.row {
  @extend %row;
  background-color: $beige;
}

.goal {
  @extend %mp;
  margin-bottom: 40px;
}

h2 {
  @include h2(black);
}

ul {
  @extend %mp;

  //grid-part

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  grid-template-areas:
  'goal salad salad answer'
  'goal fail dumbbell dumbbell';
}

li[id='goal'] {
  grid-area: goal;
}

li[id='salad'] {
  grid-area: salad;
}

li[id='answer'] {
  grid-area: answer;
}

li[id='fail'] {
  grid-area: fail;
}

li[id='dumbbell'] {
  grid-area: dumbbell;
}

//end of grid-part

li {
  @include border($green);
  @extend %center;
  transition: background-color 0.5s ease-out 0s;
  padding: 20px;
}

li:hover {
  background-color: $green;
}

.image {
  max-width: 100px;
  max-height: 100px;
}

.text {
  @include text(black, normal);
  text-align: center;
  max-height: 100px;
}