.row {

}

.imgCol {
  padding: 0;
}

.img {
  padding: 0;
  height: auto;
  width: 100%;
}

.contentCol {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  border: 1px solid green;

}

