@import '../../../utils/_base.scss';

.row {
  @extend %row;
  height: 100vh;
  padding: 0;
  background: linear-gradient(90deg, black 40%, $beige);
}

.colImg {
  padding: 0;
  background: url('../../../assets/image/title.jpg') no-repeat center bottom;
  background-size: cover;
}

.img {
  height: auto;
  width: 100%;
}

.colContent {
  @extend %center;
}

.content {
  margin-top: 20%;
}

.title {
  width: 75%;
  text-align: center;
  margin: auto;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 5%;
  }

  p {
    @include text(white, bold);
  }
}

.button {
  margin: 40px auto;
}

.description {
  @include text(white, normal);
}

