@import '../../../utils/_base.scss';

.row {
  background: linear-gradient(90deg, black 40%, $beige);
  height: auto;
}

.colImg {
  padding: 0;
}

.img {
  height: auto;
  width: 100%;
  //border:2px solid red;
}

.colContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 20%;
}

.title {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 5%;
  }

  p {
    @include text(white, bold);
  }
}

.button {
  margin: 7.5% auto;
}

.description {
  @include text(white, normal);
}

