@import '../../utils/_base.scss';

.row {
 @extend %row;
 padding: 5px 20px;
 position: fixed;
 z-index: 1;
 background: linear-gradient(90deg, black 40%, $beige);
 height: 3.25rem;
 display: flex;
 align-items: center;
}