@mixin text($color, $weight) {
  color: $color;
  font-weight: $weight;
  font-size: 1.25rem;
  line-height: 2;
}

@mixin h2($color) {
  margin: 5% auto;
  color: $color;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@mixin border($color) {
  border: 20px solid $color;
  border-radius: 25px;
}

// @include text(white, bold);

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%row {
  width: 100%;
  @extend %mp;
}

%mp {
  margin: 0;
  padding: 0;
}

//@extend %row;

$beige: #F0EFFE;
$green: #B1D7D2;
$orange: #FFC997;
$blue: #5574A4;
$l-blue: #B1D7D2;
$gray: #9CA0AE;
$l-gray: #ACB2BB;