@import '../../../utils/_base.scss';

.navbar {
  @extend %center;
  @extend %mp;
  justify-content: space-between;
}

.navItem {

  a {
    @include text(white, bold);
  }

  :hover {
    color: $orange;
    transition: color 0.5s ease-out 0s;
  }
}