@import '../../../utils/_base.scss';

.row {
    @extend %row;
    background-color: $gray;
    padding: 40px 0px;
}

.colImg {
    background: url('../../../assets/image/resume.jpg') no-repeat center top;
    background-size: cover;
    padding: 0;
    border: 20px solid $l-gray;
    min-height: 40rem;
    height: 100%;
}

.name {
    background-color: $l-gray;
    height: 6.25rem;
    position: relative;
    top: 25rem;
    padding-top: 2%;

    h2 {
        @include h2(white);
        margin: 2% 0;
        text-align: left;
    }

    p {
        @include text(white, normal);
        font-size: 1rem;
    }
}

.colContent {
    background-color: $l-gray;
    padding: 20px;
    @extend %center;
    transition: background-color 0.5s ease-out 0s;
    min-height: 40rem;
    height: 100%;
}

.colContent:hover {
    background-color: $orange;
}

.text1 {
    @include text(white, bold);
}

.text2 {
    @include text(white, normal);
    margin-top: 20px;
}

.text3 {
    @include text(white, bold);
}